# Ignorar arquivos de credenciais locais
.env
*/config/master.key

# Ignorar pastas de banco de dados locais e caches do Docker
*/tmp/
*/log/
.storage/
report_service/coverage/
upload_service/coverage/
